*, html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: lightslategrey;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px;
  width: 800px;
  height: 80px;
  background-color: #222;
}
.brand {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}
.firstname {
  color: white;
  font-weight: 700;
}
.lastname {
  color: crimson;
  font-weight: 400;
  padding-left: 4px;
}
navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi>li {
  list-style-type: none;
  padding: 15px;
}
.navi > li > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
