*, 
html, 
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: lightslategrey;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 80px;
  background-color: #222;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
.brand {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  justify-content: center;
}
.firstname {
  color: white;
  font-weight: 700;
}
.lastname {
  color: crimson;
  font-weight: 400;
  padding-left: 4px;
}
.navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi>li {
  list-style-type: none;
  padding: 15px;
}
.navi > li > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.navi>li>a:hover {
  color: crimson;
  transition: all .3s ease-in-out
}
.navi > li > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.navi>li>img:hover {
  width :65px;
  height: 65px;
  border-radius: 65px;
  transition: all .3s ease-in-out
}
.active {
  background-color: crimson;
  color: white;
  padding: 15px;
}
.active:hover {
  color: white !important;
} 
.fab {
    text-align: center;
    margin: 50px auto;
}

.foto {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3); /* Efek bayangan samar */
}

.fab>p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #EEEEEE;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* Efek bayangan samar pada teks */
}

