html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.h1 {
  color: #c1b9b9;
  font-family: DM SANS;
  font-size: 500%;
  text-align:center;
}
p {
  color: #574d42;
  font-family: sans-serif;
  font-size: 100%;
}

.JADWAL {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tg{
  color: white;
  background-color: #525252;
  border-radius: 16px 16px 16px 16px;
}

.tabler{
  border: none;
  display: flex;
}

.Hari{
  color: white;
  background-color: #787878;
  border-radius: 16px 16px 16px 16px;
}
.ks{
  color: white;
  background-color: #525252;
  border-radius: 16px 16px 16px 16px;
}

.h{
  color: white;
  background-color: grey;
  border-radius: 16px 16px 16px 16px;
}

.btn {
  height: 23pt;
  width: 95%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: DM SANS;
  font-size: 100%;
}

.pemisah {
  text-align: center;
  font-family: DM SANS;
  font-size: 200%;
}
.seragam {
  display: flex;
  align-items: center;
  justify-content: center;
}
table, th, td {
  border:1px solid #7f7a7a;
}
.pik {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ppl {
  color: white;
  background-color: #3e3d3d;
  border-radius: 16px 16px 16px 16px;
  text-align: center;
  font-family: DM SANS;
}
.hd {
  color: white;
  background-color: #a7a5a5;
  border-radius: 16px 16px 16px 16px;
}
.pkt {
  font-family: DM SANS;
  text-align: center;
  color: white;
  background-color: #474747;
  border-radius: 16px 16px 16px 16px;
  height: 45px;
  width: 100px;
}
.gmbrin {
  height: 18px;
  width: 18px;
}
.btnig {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}